@use "variables" as *;
@use "mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #0a0a0a;
  color: #c19d53;
  font-family: "Georgia", serif;
  line-height: 1.6;
}

a {
  color: #c19d53;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
